<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
 xmlns:th="http://www.thymeleaf.org">
 	<head>
		 <title>Shaurma House</title>
		 <link rel="stylesheet" th:href="@{/styles.css}" />
	 </head>

	 <body>
	 
		 <form method="POST" th:action="@{/orders}" th:object="${shaurmaOrder}">
 			
 			<h1>Закажи свое творенье!</h1>
 			
 			<img th:src="@{/images/shaurma.png}"/>
 			
 			<h3>Данные для доставки</h3>
 			
 			<label for="deliveryName">Имя: </label>
 				<input type="text" th:field="*{name}"/>
				 <br/>
			 <label for="deliveryStreet">Улица: </label>
 				<input type="text" th:field="*{street}"/>
				 <br/>
 			<label for="deliveryCity">Город: </label>
				 <input type="text" th:field="*{city}"/>
 				<br/>
 			<label for="deliveryState">Область: </label>
 				<input type="text" th:field="*{state}"/>
				 <br/>
 			<label for="deliveryZip">Индекс: </label>
				 <input type="text" th:field="*{zip}"/>
				 <br/>

 		<h3>Данные для оплаты</h3>
 		
			 <label for="ccNumber">Номер карты: </label>
				 <input type="text" th:field="*{ccNumber}"/>
				 <span class="validationError" th:if="${#fields.hasErrors('ccNumber')}"
         			 th:errors="*{ccNumber}">CC Num Error
         		</span>
				 <br/>
				 
 			<label for="ccExpiration">Срок дейсвия карты: </label>
				 <input type="text" th:field="*{ccExpiration}"/>
				 <span class="validationError" th:if="${#fields.hasErrors('ccExpiration')}"
          			th:errors="*{ccExpiration}">CC Exp Error
          		 </span>
				 <br/>
				 
 			<label for="ccCVV">CVV: </label>
				 <input type="text" th:field="*{ccCVV}"/>
				 <span class="validationError" th:if="${#fields.hasErrors('ccCVV')}"
          				th:errors="*{ccCVV}">CC Cvv Error
          		 </span>
				 <br/>
				 
 			<input type="submit" value="Оплатить"/>
 		</form>
 	</body>
</html>